@import url(./global.css);

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  background-color: var(--color-black);
}
.nav-header-item, .nav-item-active{
  display: flex;
  list-style: none;
  text-decoration: none;
  color: var(--color-grey);
  font-family: var(--font-title);
  font-size: var(--font-body3);
  transition: 0.3s;
}

.nav-header-item:hover{
  color: rgb(105, 104, 104);
}

.nav-item-active:hover{
  color: rgb(165, 10, 118);
}

.nav-item-active{
  color: var(--color-pink);
}

.nav-header ul{
  display: flex;
  list-style: none;
  gap: 40px;
}

.btn-header{
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-pink);
  padding: 8px 24px;
  font-family: var(--font-title);
  font-size: var(--font-body3);
  font-weight: bold;
  transition: 0.3s;
}

.btn-header:hover{
  background-color: rgb(199, 8, 113);
}